@model Zodiac.Models.Dates
@{
    ViewData["Title"] = "Result";
}
@{
    Layout = "_Layout";
}

    <div class="result text-center">
        <h1>@Model.Birthday.ToShortDateString()</h1>
        <h1>@ViewBag.Whishes</h1>
        <p>You are @Model.Age years old.</p>
        <p>You are @Model.ZodiacC in the Chinese zodiac and @Model.ZodiacW in Western.</p>
    </div>


